

@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<!--jQuery plug in Data Table for a more organized display-->
<table id="bloglist"class="display" >
    <thead>
     <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaURL)
        </th>
        <th></th>
    </tr>
        </thead>

    <!--Loop to show every active post-->
@foreach (var item in Model)
{
    <tbody id="admintext">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
            </td>
            <td>
                @if (item.Updated.HasValue)
                {
                    @Html.DisplayFor(modelItem => item.Updated.Value.LocalDateTime)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Category)
   
            </td>
            <td>
                @if (item.MediaURL != null)
                {
                    <img class="img-responsive" src="@Url.Content(item.MediaURL)" alt="" id="adminImage" />
                }
             </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { slug=item.Slug }, new { @class = "btn btn-default" })*@
                @Html.ActionLink("Edit", "Edit", "Posts", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    </tbody>
}

</table>

@Html.ActionLink("Home", "Index","Posts", new { @class = "btn btn-default" })
@Html.ActionLink("Create", "Create","Posts", new { @class = "btn btn-default" })

<!--Script for Data Table plugin-->
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('#bloglist').DataTable({
            "paging":false,
            "ordering": false,
            "info": false,
            "searching":false
        });
    });
</script>
}