@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="page-header">
                Welcome To My Blog!
            </h2>

            <!--Blog Post -->
            @foreach (var post in Model)
            {
                <h4>@post.Title</h4>

                <p>Created on: @post.Created.DateTime</p>

                <p><img src="@post.MediaURL " height="150" /></p>

                <p>@Html.Raw(post.Body) </p>

                @Html.ActionLink("Details","Details", new { slug = @post.Slug }, new { @class = "btn btn-default" })      

                if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit","Posts", new { id = post.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete","Posts", new { id = post.Id },new { @class = "btn btn-default" })
                }

                <hr>

            }

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Admin", "Admin", "Posts",null, new { @class = "btn btn-default" })
                @Html.ActionLink("Create", "Create", "Posts", new { @class = "btn btn-default" })

            }
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>

