@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<!--CSS for PagedListMvc-->
<link href="~/Content/PagedList.css" rel="stylesheet" />

<!-- Page Content -->
<div class="container">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="page-header">
                Welcome To My
                <img src="~/img/blog-49006_640 (Custom).png" />
            </h2>

            <!--Blog Post -->
            <!--Loop to show every post that is active-->
            @foreach (var post in Model)
            {
                <h4>@post.Title</h4>
                
                <p><span class="glyphicon glyphicon-time"></span>@post.Created.LocalDateTime</p>
                
                if (post.MediaURL != null)
                {
                    <img class="img-responsive" src="@Url.Content(post.MediaURL)" alt="" id="indexImage" style="max-height:150px; max-width:250px;" />
                }

                <div class="wrapIt"> <p>@Html.Raw(post.Body)</p> </div>

                @Html.ActionLink("Details","Details", new { slug = @post.Slug }, new { @class = "btn btn-default" })      

                if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit","Posts", new { id = post.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete","Posts", new { id = post.Id },new { @class = "btn btn-default" })
                }
                <hr>
            }

            <!--PagedList-->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, userSearch = ViewBag.userSearch}))

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <form role="form" action="@Url.Action("Index","Posts")" method="post">
                <div class="form-group">
                @*<div id="searchBar" class="well">*@
                    @*<h5>Search</h5>*@
                    <div class="input-group">
                        <input type="text" class="form-control" name="userSearch" value="@ViewBag.userSearch" placeholder="Search Blog">
                        <span class="input-group-btn">
                            <button id="searchFormButton" class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                @*</div>*@
                </div>
            </form>
            <!-- Blog Categories Well -->
            @*<div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>*@
            <div class="adminButtons ">
                <!--Show buttons for Admin Roles-->
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Admin", "Admin", "Posts", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Create", "Create", "Posts", null, new { @class = "btn btn-default" })
                }
            </div>
        </div>
    </div>

  
@section scripts{

    <!--Script for DotDotDot Plugin-->
<script src="~/Scripts/jquery.dotdotdot.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $(".wrapIt").dotdotdot({
	        ellipsis: ' ------> View Details For More ------>',
	        wrap: 'word',
            height: 150
	    });
});
</script>


}
    

