@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<!--CSS for PagedListMvc-->
<link href="~/Content/PagedList.css" rel="stylesheet" />

<!-- Page Content -->
<div class="container">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="page-header">
                Welcome To My
                <img src="~/img/blog-49006_640 (Custom).png" />
            </h2>

            <!--Blog Post -->
            <!--Loop to show every post that is active-->
            @foreach (var post in Model)
            {
                <h4>@post.Title</h4>

                if (post.Updated.HasValue)
                {
                    <p><span class="glyphicon glyphicon-time"></span>@post.Updated.Value.LocalDateTime</p>
                }
                else
                {
                    <p><span class="glyphicon glyphicon-time"></span>@post.Created.LocalDateTime   </p>
                }

                if (post.MediaURL != null)
                {
                    <img class="img-responsive" src="@Url.Content(post.MediaURL)" alt="" style="max-height:150px; max-width:250px;" />
                }

                <div class="wrapIt"> <p>@Html.Raw(post.Body)</p> </div>

                @Html.ActionLink("Details","Details", new { slug = @post.Slug }, new { @class = "btn btn-default" })      

                if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit","Posts", new { id = post.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete","Posts", new { id = post.Id },new { @class = "btn btn-default" })
                }
                <hr>
            }

            <!--PagedList-->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            <!--Show buttons for Admin Roles-->
            @if (User.IsInRole("Admin"))
            {

            @Html.ActionLink("Admin", "Admin", "Posts",null, new { @class = "btn btn-default" })
            @Html.ActionLink("Create", "Create", "Posts", null, new { @class = "btn btn-default" })
            }

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div id="searchBar" class="well">
                <h5>Search</h5>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
        </div>
    </div>

    <!--Script for DotDotDot Plugin-->
@section scripts{
<script src="~/Scripts/jquery.dotdotdot.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $(".wrapIt").dotdotdot({
	        ellipsis: ' ------> View Details For More ------>',
	        wrap: 'word',
            height: 150
	    });
});
</script>
}
    

